<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block Studio</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
    <link rel="stylesheet" href="resetp.css">
 
    <link rel="stylesheet" href="./project.css">
    <link rel="stylesheet" href="./js/vue.js">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

<div id="app">
    <div class="contanier">
        <!-- 大slider -->
        <div class="bigBanner">           
            <div class="slider fade" v-if="sliderindex==1">
                <img src="./img/4000.jpeg" alt="" class="" >
            </div>
            <div class="slider fade" v-if="sliderindex==2">
                <img src="./img/6000.jpeg" alt="" class="" >
            </div>
            <div class="slider fade" v-if="sliderindex==3">
                <img src="./img/7000.jpeg" alt="" class="" >
            </div>
                <div class="dotgroup">
                    <span class="smalldot" v-for="(dot,index) in dots"
                    :key="dot.num" v-on:click="DotPic(index+1)"></span>
                </div>
                    
                <div class="con-text">
                    <h1>Commercial builders with pride-<br> 
                    workmanship that values quality.</h1>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus accusamus ducimus quibusdam ta blanditiis <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectuslaborum </p> 
                </div>

                    <div class="content" data-aos="zoom-in-up">
                        <div class="homespace">
                            <h1>HOME</h1>
                        </div>
                    </div>
        </div>

                <nav>
                    <!-- logo --> 
                    <div class="logo-img">
                        <p>𝐁</p>
                        </div>
                    <!-- privacy right-->
                    <div class="right">
                    <p>BlockStudio&copy;copyright All rights reserved</p>
                    </div>
                    <!-- icons -->
                    <div class="icons" data-aos="zoom-in-right">
                        <div class="icon-1">
                            <img src="./img/facebook-app-symbol.png" alt="" >
                        </div>
                        <div class="icon-2">
                            <img src="./img/instagram.png" alt="" >
                        </div>
                        <div class="icon-3">
                            <img src="./img/youtube.png" alt="" >
                        </div>
                    </div>
                <!-- nav-list -->
                <div class="sidebar">
                    <div class="nav-list">
                        <ol>
                            <li> <a href="#">Home</a></li>
                            <li><a href="#">Website</a></li>
                            <li> <a href="">Branding</a> </li>
                        </ol>
                    </div>
                    <!-- 漢堡堡-->
                        <div class="hamburger" v-on:click="HbShow">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                <div  v-bind:class="Hbtn" >
                    <div class="showgray">
                        <div class="shownav">
                            <div class="delete" v-on:click="HbClose">X</div>
                        </div>

                        <div class="showlist">
                            <div class="s-list">About</div>
                            <div class="s-list">Website</div>
                            <div class="s-list">Branding</div>
                        </div>
                    </div>

                        <div class="showinfor">
                            <div class="T">T.02-2885-858</div>
                            <div class="E">E.info@blockstudio.tw</div>
                            <div class="A">3F,No.2,Ln.80.Sec.4,Chengde Rd, Shilin <br>
                                Dist, TaipeiCity 111,Taiwan</div>
                        </div>

                        <div class="showicons">
                            <div class="sicon" >
                                <img src="./img/w fb.png" alt="" >
                            </div>
                            <div class="sicon">
                                <img src="./img/w ig.png" alt="">
                            </div>
                            <div class="sicon">
                                <img src="./img/w yu.png" alt="">
                            </div>
                        </div>
                    </div>

                    </div>
                </nav>

                <!-- content -->
                    <main>
                        <div class="textspace" data-aos="fade-up"
                        data-aos-duration="3000">
                            <p class="first-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro nam veritatis exercitationem facilis maiores voluptates enim quasi, autem quae aut doloribus delectus repudiandae iste eaque mollitia atque dolorem? Nemo molestias nesciunt quod ipsa esse consequatur ex dolorum temporibus nam quas iste voluptas, perspiciatis quam mollitia quaerat provident aspernatur ullam?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro nam veritatis exercitationem facilis maiores voluptates enim quasi, autem quae aut doloribus delectus repudiandae iste eaque mollitia atque dolorem? Nemo molestias nesciunt quod ipsa esse consequatur ex dolorum temporibus nam quas iste voluptas, perspiciatis quam mollitia quaerat provident aspernatur ullam?
                            exercitationem facilis maiores voluptates 
                            </p>

                            <p class="second-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro nam veritatis exercitationem facilis maiores voluptates enim quasi, autem quae aut doloribus delectus repudiandae iste eaque mollitia atque dolorem? Nemo molestias nesciunt quod ipsa esse consequatur ex dolorum temporibus nam quas iste voluptas, perspiciatis quam mollitia quaerat provident aspernatur ullam?
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro nam veritatis exercitationem facilis maiores voluptates enim quasi, autem quae aut doloribus delectus repudiandae iste eaque mollitia atque dolorem? Nemo molestias nesciunt quod ipsa esse consequatur ex dolorum temporibus nam quas iste voluptas, perspiciatis quam mollitia quaerat provident aspernatur ullam?
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro nam veritatis exercitationem facilis maiores voluptates enim quasi, autem quae aut doloribus delectus repudiandae iste eaque mollitia atque dolorem? Nemo molestias nesciunt quod ipsa esse consequatur ex dolorum temporibus nam quas iste voluptas, perspiciatis quam mollitia quaerat provident aspernatur ullam?
                            </p>
                        </div>
                        <div class="ball">
                            <div class="bigball">
                            </div>
                            <div class="smallball" 
                            data-aos="zoom-in-down">
                            </div>
                        </div>
                    </main>

                    <div class="alert" data-aos="flip-left">
                        <img src="./img/8000.jepg.jpeg" alt="">
                        <div class="play" v-on:click="videoS">
                            <img src="./img/play-button (1).png" alt="">
                        </div>
                    </div>

                    <div class="videocover" v-if="isShow">
                        <div class="deleteV" v-on:click="videoD">X</div>
                        <div class="videoshow">
                            <iframe width="1003" height="564" src="https://www.youtube.com/embed/EdUnJ16fjWo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                <!-- vue cards -->
                <div class="cardcontainer">
                    <div class="blue-round">
                        <div class="rect-one" data-aos="fade-down-right"></div>
                        <div class="rect-two" data-aos="fade-right"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine"></div>
                        <div class="ball-three" data-aos="flip-left"
                        data-aos-easing="ease-out-cubic"
                        data-aos-duration="1000"></div>
                    </div>
                    <div class="cards">
                        <div class="card-all" v-for="card in cards" :key="card.name"  >
                            <div class="card-up" data-aos="fade-up">
                                <h1 data-aos="zoom-out-down">{{card.name}}
                                {{card.one}}
                                {{card.two}}
                                </h1>
                                <div class="line"></div>
                                <p>{{card.three}} <br>
                                    {{card.four}}
                                </p>
                                <div class="arrow-line">⇀</div>
                            </div>
                            
                            <div class="card-down"  data-aos="flip-up"   >
                                <div class="card-img">
                                <img :src="card.imgURl" alt=""data-aos="flip-down">
                                </div>
                                <div class="blackspace">
                                    <h3>{{card.five}}</h3>
                                </div>
                                <h2>{{card.six}} <br>
                                {{card.seven}}
                                </h2>
                                <p>{{card.eight}}</p>
                            
                                <div class="CS">
                                    <span>{{card.clent}}</span>
                                    <span class="CSmove">{{card.status}}</span>
                                </div>
                                <div class="type">
                                    <span>{{card.act}}</span>
                                    <span class="typemove">{{card.complete}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- phone-cards -->
            
            <div class="RWD-phone">
                <div class="phone-cards" data-aos="fade-down-right" >
                    <div class="phone-f-txt">
                        Award winning civil contractors <br>
                        that goverment.
                    </div>
                    <div class="liner">
                        <div class="phoneline"></div>
                        <div class="phonearrow">⇀</div>
                    </div>
                </div>
                <div class="phone-cards" data-aos="fade-down-right">
                    <div class="phone-f-txt">
                        Award winning civil contractors <br>
                        that goverment.
                    </div>
                        <div class="liner">
                        <div class="phoneline"></div>
                        <div class="phonearrow">⇀</div>
                        </div>
                </div>
                <div class="phone-cards" data-aos="fade-down-right">
                    <div class="phone-f-txt">
                        Award winning civil contractors <br>
                        that goverment.
                    </div>
                        <div class="liner">
                        <div class="phoneline"></div>
                       <div class="phonearrow">⇀</div>
                        </div>
                    
                </div>

                <div class="phone-cards-two" data-aos="fade-down-left">
                    <div class="phonepic">
                        <img src="./img/6000.jpeg" alt="">
                    </div>
                    <div class="phonetxt">
                        Woden Public Realm  <br>
                        Imporvements Works <br>
                        Package Lift & Stairs <br>
                    </div>
                </div>
                <div class="phone-cards-two" data-aos="fade-down-left">
                    <div class="phonepic">
                        <img src="./img/6000.jpeg" alt="">
                    </div>
                    <div class="phonetxt">
                        Woden Public Realm  <br>
                        Imporvements Works <br>
                        Package Lift & Stairs <br>
                    </div>
                </div>
                <div class="phone-cards-two" data-aos="fade-down-left">
                    <div class="phonepic">
                        <img src="./img/6000.jpeg" alt="">
                    </div>
                    <div class="phonetxt">
                        Woden Public Realm  <br>
                        Imporvements Works <br>
                        Package Lift & Stairs <br>
                    </div>
                </div>

                <div class="phoneball">

                </div>
                <div class="phoneballT">

                </div>
            </div>

                
            <div class="more">
                <!-- scroll-load -->
            </div>

            <!-- phonefooter -->

            <div class="phonefooter">
                <div class="phonewlink">
                    <ol>
                        <li> <a href="#">About</a></li>
                        <li><a href="#">Website</a></li>
                        <li> <a href="#">Branding</a> </li>
                    </ol>
                </div>

                <div class="phoneinfo">
                    <div class="address">T.02-2885-8586</div>
                    <div class="email">E.info@blockstudio.tw</div>
                    <div class="address">3F,No.2,Ln.80.Sec.4,Chengde Rd, Shilin  <br>
                        Dist, TaipeiCity 111,Taiwan</div>
                </div>

                <div class="phoneicons">
                    <div class="footericon-1" >
                        <img src="./img/w fb.png" alt="" >
                    </div>
                    <div class="footericon-2">
                        <img src="./img/w ig.png" alt="">
                    </div>
                    <div class="footericon-3">
                        <img src="./img/w yu.png" alt="">
                    </div>

                </div>

            </div>

        <footer>
            <div class="footercontainer">
                <div class="footerinfo">
                    <div class="footerlogo">
                        <p>𝐁</p>
                    </div>
                    <div class="footerwebsite">
                        <ol>
                            <li> <a href="#">About</a></li>
                            <li><a href="#">Website</a></li>
                            <li> <a href="#">Branding</a> </li>
                        </ol>
                        <div class="information">
                            <div class="address">T.02-2885-8586</div>
                            <div class="email">E.info@blockstudio.tw</div>
                            <div class="address">3F,No.2,Ln.80.Sec.4,Chengde Rd, Shilin Dist, TaipeiCity 111,Taiwan</div>
                        </div>
                    </div>
                    <div class="footericons">
                        <div class="footericon-1" >
                            <img src="./img/w fb.png" alt="" >
                        </div>
                        <div class="footericon-2">
                            <img src="./img/w ig.png" alt="">
                        </div>
                        <div class="footericon-3">
                            <img src="./img/w yu.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="footercontact">
                </div>
            </div>
        </footer>
    </div>
</div>

    <script>
        new Vue({
            el:'#app',
            data:{
                    cards:[
                        {  
                        id:'1',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/6000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'2',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/2000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'3',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/5000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'4',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/6000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'5',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/2000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'6',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/5000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'7',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/6000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'8',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/2000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'9',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/5000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'10',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/6000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'11',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/2000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'12',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/5000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'13',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/6000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'14',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/2000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'15',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/5000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'16',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/6000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'17',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/2000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'18',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/5000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'19',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/6000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'20',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/2000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'21',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/5000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'22',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/6000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'23',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/2000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                        {  
                        id:'24',
                        name:'Award winning civil',
                        one:'contractors that',
                        two:'goverment.',
                        three:'The Australian Treasury Building &  King Edward TCE',
                        four:' Barton Canberra City.',
                        imgURl:'./img/5000.jpeg',
                        five:'Award',
                        six:'Woden Public Realm Imporvements',
                        seven:'Works Package Lift & Stairs',
                        eight:'Urban Public Realm Refurbishment',
                        clent:'CLENT',
                        status:'STATUS',
                        act:'ACT Goverment',
                        complete:'Completed 2017',
                        },
                    ],
                    isClose:false,
                    isShow:false,
                    sliderindex:1,
                    dots:[
                        { num:1},
                        { num:2},
                        { num:3},
                    ]
                },
                methods: {
                    HbShow(){
                        this.isClose = true;
                    },
                    HbClose(){
                        this.isClose = false;
                    },
                    videoS(){
                        this.isShow = true;
                    },
                    videoD(){
                        this.isShow = false;
                    },
                    DotPic(index){
                        this.sliderindex = index;
                        let dotsitem = document.getElementsByClassName("smalldot");
                        for(let i =0 ; i<this.dots.length; i++){
                        dotsitem[i].className = dotsitem[i].className.replace("active", "");
                        }
                        dotsitem[index-1].className += " active";            
                    },
                },
                computed:{
                    Hbtn(){
                        if(this.isClose == true){
                            return 'hb-show'
                        }else{
                        return 'hb-nav'
                        }
                    }
                },
                mounted() {
                    let dotsitem = document.getElementsByClassName("smalldot");
                    dotsitem[0].className += " active";    
                },
            })
    </script>

  


<script src="./project.js"></script>
<script src="./gsap-public/minified/gsap.min.js"></script>
<script src="./gsap-public/minified/ScrollTrigger.min.js"></script>

<script>
gsap.registerPlugin(ScrollTrigger)
        gsap.to(".bigball", {
        x:20,
        y:500,
        duration:2,
        scrollTrigger:{
            trigger:".smallball",
            start:"top 50%",
            end: "top 50%",
            toggleActions:"play none reverse none",
            markers:true
        }
            })

        gsap.to(".bigball", {
        x:20,
        y:1300,
        duration:3,
        scrollTrigger:{
            trigger:".play",
            start:"top 50%",
            end: "top 50%",
            toggleActions:"play none reverse none",
            markers:true
        }
            })

            gsap.to(".smallball", {
            y:500,
            duration:3,
            scrollTrigger:{
            trigger:".play",
            start:"top 90%",
            end:"top 10%",
            toggleActions:"play none reverse none",
            scrub:true,
            markers:true,
            toggleClass:"change",
            }
        })

            

</script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>