
.container{
  background-color: white;
  max-width: 1440px;
  position: relative;
  margin: auto;
}
.bigBanner{
  position: relative;
}

.slider{
  object-fit: cover;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100vw;
  height: 100vh;
} 
/* //手機圖片 max-width object-fit*/
.slider img {
  animation: kenburns-top 5s ease-out both;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dotgroup{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}
.smalldot{
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 10px;
  background-color: transparent;
  border:1px solid black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
  z-index: 10;
}
.smalldot:hover{
  background-color:  #030303;
  height: 10px;
  width: 10px;
}
.active{
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 10px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
  z-index: 10;
  background-color:  #030303;
}
.fade{
  animation: fade 1.5s;
}
.con-text{
  width: 100%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.con-text h1{
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  line-height: 100px;
}
.con-text p{
  font-size: 18px;
  padding-top: 30px;
  line-height: 30px;
  text-align: center;
}
/* === animation*/

@keyframes kenburns-bottom {
  0% {
            transform: scale(1) translateY(0);
            transform-origin: 50% 84%;
  }
  70% {
  
            transform: scale(1.25) translateY(15px);
            transform-origin: bottom;
  }
  100% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
}
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  50% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;

}
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}
@keyframes roll-in-left{0%{transform:translateX(-800px) rotate(-540deg);opacity:0}100%{transform:translateX(0) rotate(0deg);opacity:1}}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
@keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-55px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}

@keyframes bounce-in-left{0%{transform:translateX(-600px);animation-timing-function:ease-in;opacity:0}38%{transform:translateX(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateX(-68px);animation-timing-function:ease-in}72%{transform:translateX(0);animation-timing-function:ease-out}81%{transform:translateX(-28px);animation-timing-function:ease-in}90%{transform:translateX(0);animation-timing-function:ease-out}95%{transform:translateX(-8px);animation-timing-function:ease-in}100%{transform:translateX(0);animation-timing-function:ease-out}}

@keyframes swirl-in-top-fwd{0%{transform:rotate(-540deg) scale(0);transform-origin:50% 0;opacity:0}100%{transform:rotate(0) scale(1);transform-origin:50% 0;opacity:1}}

nav{
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 500px;
}
.nav-list ol{
  display: flex;
}

.hamburger{
  padding: 40px;
  width: 20px;
  height: 25px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.hamburger span{
  width: 20px;
  height: 0.5px;
  background-color: rgb(243, 240, 240);
}

/* hb使用 */
.hb-nav{
  transition: 0.2s ease-in ;
  transform: translateY(-10000px);
  color: white;
  position: absolute;
  width: 70%;
  top: 0;
  right: 0;
  height: calc(100vh);
  background-color: rgb(14, 13, 13);
  z-index: 10;
}
.hb-show{
  transition: 0.2s ease-in ;
  transform: translateY(0px);
  color: white;
  position: absolute;
  width: 70%;
  top: 0;
  right: 0;
  height: calc(100vh);
  background-color: rgb(14, 13, 13);
  z-index: 10;
}


.showgray{
  width: 90%;
  background-color: rgba(73, 71, 71, 0.235);
}
.shownav .delete{
  cursor: pointer;
  font-weight: lighter;
  padding-top: 40px;
  padding-right: 50px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
.showlist{
  cursor: pointer;
  margin:80px 0px 50px 30px;
  padding-bottom: 70px;
  font-size: 20px;
  line-height: 80px;
}
.showinfor{
  font-size: 12px;
  margin: 0px 0px 30px 30px;
  line-height: 30px;
}
.showicons{
  cursor: pointer;
  margin: 10px 0px 50px 30px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.sicon{
  width: 20px;
  
}
.sicon img{
  width: 100%;
}

/* ==== */

.logo-img{
  animation: bounce-top 1s both;
  margin-top: 30px;
  width: 20px;
  border-top: 4px black solid;
  position: absolute;
  left: 50px;
  cursor: pointer;
}
.logo-img p{
  font-size: 35px;
  padding-top:5px;
  width: 100%;
  color: rgb(9, 9, 9);
}
.icons{
  z-index: 20;
  display: flex;
  position: absolute;
  left: 4%;
  bottom:4%;
  animation: roll-in-left 2s;
}
.icon-1 img,.icon-2 img,.icon-3 img{
  width: 20px;
  padding-right: 80px;
  cursor: pointer;
}
.right{
  position: absolute;
  left: -90px;
  top:90%;
  transform: rotate(90deg);
}
.sidebar{
  display: flex;
  position:absolute;
  right: 0px;
}
.sidebar li{
  margin-top: 30px;
  padding: 5px 30px 5px 30px;
  font-size: 18px;
  margin-right: 10px;
  
}
.sidebar li:hover{
  margin-top: 30px;
  padding: 5px 30px 5px 30px;
  margin-right: 10px;
  font-size: 18px;
  border:blue 3px solid;
}
.sidebar a{
  text-align: center;
  text-decoration: none;
  color: black;
}
.sidebar a:hover{
  text-align: center;
  text-decoration: none;
  color: rgb(6, 10, 238);
}

.homespace{
  border: 1px rgba(82, 82, 78, 0.344) solid;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  width: 50%;
  background-color: white;
}
.homespace h1{
  margin: auto;
  padding: 30px;
  font-size: 80px;
  font-weight:900;
  text-align: center;
}
.textspace{
  width: 50%;
  margin: auto;
}
.textspace .first-p{
  margin-top: 150px;
  line-height: 30px;
}
.textspace .second-p{
  margin-top: 50px;
  line-height: 30px;
}

main{
  position: relative;
}

.bigball{
  position: absolute;
  top: -40px;
  left: 150px;
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 20px 10px 30px 10px rgba(29, 32, 237, 0.159);
  /* animation: bounce-in-top 3s; */
}
.smallball{
  position: absolute;
  top: 400px;
  right: 160px;
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 20px 10px 30px 10px rgba(29, 32, 237, 0.159);
  animation: bounce-in-top 1.5s;
  z-index: -1;
}
.alert{
  position: relative;
  padding-top: 100px;
  width: 60%;
  margin: auto;
}

.alert img{
  width: 100%;
  margin-bottom: 100px;
}
.play{
  width: 100px;
  height: 100px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
/* 定位使用中心為x,y */

.play img{
  width: 100%;
  cursor: pointer;
  background-color: rgb(148, 150, 152);
  border-radius: 50%;
}
.play img:hover{
  width: 100%;
  cursor: pointer;
  background-color: azure;
}

/* //  遮罩 */
.videocover{
  background-color: rgba(157, 152, 145, 0.769);
  position: fixed;
  left: 0;
  top:0;
  bottom: 0;
  right:0;
  border-radius: 10px;
  z-index: 21;
}
.deleteV{
  position: absolute;
  right: 15%;
  top: 5%;
  font-size: 30px;
  color: rgb(21, 20, 20);
  cursor: pointer;
}
/* //跳窗 */
.videoshow{
  aspect-ratio: 1003/564;
  background-color: rgb(11, 10, 10);
  width: 60%;
  height: 82%;
  left: 50%;
  top:50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 25;
}
/*    跟//跳窗一樣大 */
.videoshow iframe{
  width: 100%;
  height: 100%;
}

.cardcontainer{
  width: 60%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.rect-one{
  width: 30px;
  height: 130px;
  background-color: blue;
  border-radius: 20px 20px 20px 20px;
  position: absolute;
  left: -1%;
  top:0%;
  box-shadow: 20px 10px 30px 10px rgba(29, 32, 237, 0.159);
}
.rect-two{
  width: 30px;
  height: 130px;
  background-color: blue;
  border-radius: 20px 20px 20px 20px;
  position: absolute;
  left: 32%;
  top: 21%;
  box-shadow: 20px 10px 30px 10px rgba(29, 32, 237, 0.159);
  z-index: 2;
  animation: swirl-in-top-fwd 2s;
  animation-delay: 4s;
}

.ball-three{
  width:50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  left: 66%;
  top: 48%;
  box-shadow: 20px 10px 30px 10px rgba(29, 32, 237, 0.159);
  z-index: 2;
  animation: jello-horizontal 2s 5s;
}
/* gird */
.cards{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.card-all:nth-child(3n){
  transform: translateY(60px);
}
.card-all:nth-child(3n-1){
  transform: translateY(30px);
}
.cards .card-all{
  width: 33.333333%;
  box-sizing: border-box;
  padding: 0px 10px;
  margin-bottom: 20px;
}
/* 選中間的第二個做margin */
.card-up{
  border: 1px rgb(157, 153, 153) solid;
  padding: 20px 0px 10px 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
.card-up h1{
  margin: auto;
  font-size: 30px;
  font-weight: 900;
}
.card-up .line{
  margin-top: 100px;
  margin-bottom: 10px;
  width: 20px;
  height: 3px;
  background-color: rgb(10, 10, 10);
}
.card-up p {
  font-size: 12px;
  padding-bottom: 10px;
}
.arrow-line{
  padding-right: 20px;
  display: flex;
  justify-content: end;
  font-size: 30px;
  color: rgba(108, 105, 105, 0.865);
  font-weight: lighter;
}
.card-img img{
  width: 100%;
}

.RWD-phone{
  display: none;
}

.blackspace{
  width: 62px;
  height: 20px;
  margin: 20px 0px 20px 15px;
}
.blackspace h3{
  border-radius: 3px;
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  color: white;
  background-color: black;
}
.card-down {
  border: 1px grey solid;
}

.card-down h2{
  margin: 20px 0px 30px 15px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 900;
}
.card-down p{
  margin: 20px 0px 20px 15px;
  font-size: 12px;
}
.card-down .CS{
  display: flex;
  margin: 20px 0px 10px 15px;
  font-size: 12px;
  color: gray;
}
.CS .CSmove{
  display: block;
  width: 50%;
  box-sizing: border-box;
}
.CS span{
  display: block;
  width: 50%;
  box-sizing: border-box;
}
.card-down .type{
  display: flex;
  margin: 0px 0px 30px 15px;
  font-size: 12px;  
}
.type .typemove{
  display: block;
  width: 50%;
  box-sizing: border-box;
  
}
.type span{
  display: block;
  width: 50%;
  box-sizing: border-box;
}

/* footer */
footer{
  width: 100%;
  margin: auto;
  margin-top: 200px;  
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: rgb(9, 9, 9);
}
.footercontainer{
  width: 60%;
  margin: auto;
}
.footerinfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footerlogo{
  box-sizing: border-box;
  width: 17px;
  border-top: 4px rgb(252, 250, 250) solid;
  cursor: pointer;
}
.footerlogo p{
  color: white;
  font-size: 30px;
  padding-top:5px;
}
.footerwebsite{
  width: 80%;
  box-sizing: border-box;
}

.footerwebsite ol{
  display: flex;
}
.footerwebsite li{
  padding: 5px 35px 5px 70px;
  font-size: 18px;
  margin-right: 10px;
}
.footerwebsite a{
  text-align: center;
  text-decoration: none;
  color:white;
}
.footericons{
  box-sizing: border-box;
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.footericon-1 img,.footericon-2 img,.footericon-3 img{
  width: 30px;
  cursor: pointer;
}

.information{
  padding: 10px 30px 5px 70px;
  line-height: 30px;
  color:white;
}


.btn{
  margin-top: 100px;
  text-align: center;
}

.btn button{
  border: 1px black solid;
  font-size: 18px;
  font-weight: 100;
  width:220px;
  height: 40px;
  color: rgb(10, 10, 10);
  background-color: white;
}

.phonefooter{
  display: none;
}

.more{
  display: none;
}

.more button{
  display: none;
 
}

/* phone */

@media screen and (max-width: 375px){

  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  
  .slider{
    box-sizing: border-box;
    max-width: 100vw;
    height: 80vh;
  }
  .con-text{
    width: 100%;
    position: absolute;
    top: 43%;
    left: 50%;
    right:0px;
    transform: translate(-50%,-50%);
  }
  .con-text h1{
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    line-height: 40px;
    padding: 0px 30px;
    width: 100%;
    box-sizing: border-box;
  }
  .con-text p{
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
  .dotgroup{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .homespace{
    border: 1px rgba(82, 82, 78, 0.344) solid;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    width: 60%;
    background-color: white;
  }
  .homespace h1{
    margin: auto;
    padding: 15px;
    font-size: 30px;
    font-weight:900;
    text-align: center;
  }
  .icons{
    display: none;
    position: absolute;
    left: 50px;
    top:720px;
  }
  /* hb使用 */
.hb-nav{
  transition: 0.5s ease-in-out ;
  transform: translate(0px ,-2000px);
  color: white;
  position: absolute;
  width: 100vw;
  top: 0;
  right: 0;
  height: calc(100vh);
  background-color: rgb(14, 13, 13);
  z-index: 10;
}
.hb-show{
  transition: 0.5s ease-in-out ;
  transform: translate(0px,0px);
  color: white;
  position: absolute;
  width: 100vw;
  top: 0;
  right: 0;
  height: calc(100vh);
  background-color: rgb(14, 13, 13);
  z-index: 10;
}

.videoshow{
  aspect-ratio: 1003/564;
  background-color: rgb(11, 10, 10);
  width: 85%;
  height: 30%;
  left: 50%;
  top:50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 25;
}
/*    跟//跳窗一樣大 */
.videoshow iframe{
  width: 100%;
  height: 100%;
}
  main{
    display: none;
    position: relative;
  }
  .nav-list ol{
    display: none;
  }
  .right{
    display: none;
    position: absolute;
    left: -90px;
    top:90%;
    transform: rotate(90deg);
  }
  .logo-img{
    animation: bounce-top 1s both;
    margin-top: 30px;
    width: 25px;
    border-top: 4px black solid;
    position: absolute;
    left: 30px;
    cursor: pointer;
  }
  .logo-img p{
    font-size: 45px;
    padding-top:5px;
    width: 100%;
    color: rgb(9, 9, 9);
  }
  .hamburger{
    padding: 30px;
    width: 20px;
    height: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
  .alert{
    position: relative;
    padding-top: 70px;
    width: 85%;
    margin: auto;
  }
  .alert img{
    width: 100%;
    margin-bottom: 50px;
  }
  .RWD-phone{
    overflow: hidden;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .phone-cards{
    font-weight: 900;
    margin: auto;
    width: 85%;
    border: 1px gray solid;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .phone-f-txt{
    padding: 15px;
  }
  .phone-cards-two{
    display: flex;
    margin: auto;
    width: 85%;
    border: 1px gray solid;
    margin-bottom: 20px;
  }
  .phonepic{
    width: 30%;
    box-sizing: border-box;
  }
  .phonetxt{
    display: inline;
    line-height: 20px;
    font-weight: 900;
    width: 70%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 5px 10px 5px 20px;
  }

  .phonepic img{ 
    width: 110%;
    vertical-align:bottom;
    overflow: hidden;
  }
  .play{
    width: 50px;
    height: 50px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  /* 定位使用中心為x,y */
  .play img{
    width: 100%;
    cursor: pointer;
  }
  .liner{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    margin: 0px 18px;
  }
  .liner .phoneline{
    width: 18px;
    height: 3px;
    background-color: black;
  }
  .liner .phonearrow{
    font-size: 30px;
    color: gray;
  }
  .phonefooter{
    display: block;
    color: white;
    background-color: black;
    
  }
  .phonewlink ol{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }
  .phonewlink li a{
    text-decoration: none;
    color: white;
  }
.phoneinfo{
  line-height: 20px;
  padding-top: 30px;
  font-size: 10px;
  text-align: center;
}

.phoneicons{
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.phoneicons img{
  width: 100%;
}
  .cardcontainer{
    display: none;
    width: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }

  .cards{
    display:none;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  .rect-one{
    display: none;
    width: 30px;
    height: 130px;
    background-color: blue;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    left: -2%;
    top:0%;
    box-shadow: 20px 10px 30px 10px rgba(29, 32, 237, 0.159);
  }
  .rect-two{
    display: none;
    width: 30px;
    height: 130px;
    background-color: blue;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    left: 31.5%;
    top: 6%;
    box-shadow: 20px 10px 30px 10px rgba(29, 32, 237, 0.159);
    z-index: 2;
  }

  .ball-three{
    display: none;
    width:50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    left: 63%;
    top: 13.2%;
    box-shadow: 20px 10px 30px 10px rgba(29, 32, 237, 0.159);
    z-index: 2;
  }

  .more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 90px 0px;
    text-align: center;
  }
  
  .more button{
    display: inline-block;
    border: 1px black solid;
    padding: 12px 100px;
    font-size: 18px;
    font-weight: 100;
    color: rgb(5, 5, 5);
    background-color: white;
  }

  .btn{
    display: none;
  }
  
  .btn button{
    display: none;

  }

  footer{
    display: none;
    width: 100%;
    margin: auto;
    margin-top: 400px;  
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(9, 9, 9);
  }
  .footercontainer{
    width: 100%;
    margin: auto;
  }
  .footerinfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footerlogo{
    box-sizing: border-box;
    width: 17px;
    border-top: 4px rgb(252, 250, 250) solid;
    cursor: pointer;
  }
  .footerlogo p{
    color: white;
    font-size: 30px;
    padding-top:5px;
  }
  .footerwebsite{
    width: 100%;
    box-sizing: border-box;
  }
  
  .footerwebsite ol{
    display: flex;
  }
  .footerwebsite li{
    padding: 5px 35px 5px 70px;
    font-size: 18px;
    margin-right: 10px;
  }
  .footerwebsite a{
    text-align: center;
    text-decoration: none;
    color:white;
  }
  .footericons{
    box-sizing: border-box;
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
  .footericon-1 img,.footericon-2 img,.footericon-3 img{
    width: 30px;
    cursor: pointer;
  }

}


/* //end */
